<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hello world</title>
  </head>
  <body>
    {{ if . }}
    <h1>Number is greater than 5</h1>
    {{ else }}
    <h1>Number is less than 5</h1>
    {{ end }}
</body>
</html>