<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hello world</title>
  </head>
  <body>
    <ul>
      {{ range . }}
      <li>{{ . }}</li>
      {{ else }}
    <h1>No Data</h1>
      {{ end }}
  </ul>
</body>
</html>