<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hello world</title>
  </head>
  <body>
      <h1>the first text was {{ . }} </h1>
      {{ with "bye" }}
      <h1>it is changed to {{ . }} </h1>
      {{ end }}
      <h1>abd then it is changed back to {{ . }}</h1>
</body>
</html>