<!DOCTYPE html>
<html lang="en">
  <head>
    <title>hello world</title>
  </head>
  <body>
      <h1>Student detail</h1>
      {{ with . }}
      <h2>Name {{ .Name }} </h2>
      <h2>Age {{ .Age }} </h2>
      {{ end }}
      {{ with .Address }}
      <h3>Country {{ .Country }} </h3>
      <h3>City {{ .City }} </h3>
      {{ end }}
</body>
</html>